<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>
  <p><h6><%= pluralize(article.views, "view") %></h6></p>
  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

</div>
