<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <header class="mb-8">
                <h1 class="display-5 display-sm-4 font-weight-light mb-4">We are coming soon!</h1>
                <p class="lead">Currently we are working on our brand new website and will be lunching soon. Do not miss it, subscribe below to keep updated.</p>
            </header>

        <div class="js-timer u-timer">
        </div>
        </div>
    </div>
</div>
